@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --branco-principal: #FFFFFF;
    --cinza--secundario: #F9F9F9;
    --cinza-terciario: #C0C0C0;
    --botao--azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte--principal: 'Inter', sans-serif;
}

body{

    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte--principal);
    font-size: 16px;
    font-weight: 400;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.principal{
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container__div{
    margin: 0 6em;
    padding: 2em;
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
    line-height: 120%;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__botao{
    background-color: var(--botao--azul);
    border-radius: 8px;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}

.container__botao:hover{
    opacity: 0.9;
}

.botao__secundario{
    background-color: transparent;
    color: var(--branco-principal);
    border-radius: 8px;
    border: 2px solid var(--branco-principal);
    text-decoration: none;
}

.container__aviso{
    color: var(--cinza--secundario);
    font-size: 12px;
}

.secundario{
    align-items: center;
    margin: 0 10%;
}

.container__secundario__imagem{
    width: 80%;
}

.container__secundario__descricao__subtitulo{
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.container__secundario__descricao__paragrafo{
    font-weight: 400;
    line-height: 150%;
    color: var(--cinza-terciario);
    text-align: justify;
}

.secundario__botao{
    margin-top: 1em;
    display: inline-block;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    color: var(--branco-principal);
}

.lista__item{
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    color: var(--branco-principal);
}

.dispositivos__lista{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 5em 0 10em 0;
}

.rodape{
    text-align: center;
    padding: 0 4%;

}

.rodape__logo{
    margin: 2em 0;
}


.rodape__logo:hover{
    opacity: 0.9;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 1%;
}

.rodape__lista__link{
    text-decoration: none;
    margin: 1em 0;
}

.rodape__lista__link__item{
    color: var(--branco-principal);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.rodape__lista__link__item:hover{
    color: var(--cinza-terciario);
}

.rodape__lista__link__item:active{
    color: var(--botao--azul);
}

.rodape__paragrafo{
    font-size: 14px;
    color: var(--cinza-terciario);
    margin: 1em 0;
}